{% extends '::base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}

    <h2>{{ name }}</h2>
    <h2>{{ name }}</h2>
    <h2>{{ name }}</h2>
    <h2>{{ name }}</h2>
    <h2>{{ name }}</h2>

{% endblock %}